.header_loggedin{
  background-color: #adb5bd;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.profile_pic{
  background-position: left;
  position: relative;
  shape-image-threshold: 50px;
  image-resolution: 100%;
  image-orientation: 100%;
  border-radius: 50%;
  float: left;
}

.search{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
/* buttons starts here*/
#btn-sign-in{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-sign-up{
  float: right;
  margin-right: 5px;
}
#btn-search{
  margin-top: 5px;

}
#btn-post{

}
#btn-post-index{

}
.footer{
  background-color: #adb5bd;
  padding-top: 10px;
  padding-bottom: 5px;
  resize: horizontal;
  resize: both;
  overflow: auto;
}

.footerform{
  background-color: #ADD8E6;
}
.companyfooter{
  background-color: #ADD8E6;
  background-size: contain;
  float: left;

}

.termsfooter{
  background-color: #ADD8E6;
    float: right;

}

img {
    border-radius: 50%;
}
#whatsnew{
  float: center;
}
/* forms*/
#form-sign-up{
  margin-top: 100px;

}
#form-sign-in{
  margin-top: 100px;
}

#sign-in-username{
  margin-top: 50;

}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
